/*
 * this is the default style for shellblog blogs. feel free to change the style as you wish
 * */

* /* text color and background color for the whole site */
{
  font-family:Sans;
  color:black;
  background-color: #FFF;
}

h1 /* blog title */
{
  font-size:200%;
  font-weight:bold;
  text-align:center;
  border-radius:0.5em;
  padding-left:0.5em;
  background-color:#AAA;
}

h1:hover, h2:hover
{
  background-color:#999;
}

h2 /* post title */
{
  font-size:150%;
  font-weight:bold;
  border-radius:0.5em;
  padding-left:0.5em;
  background-color:#AAA;
}

p /* paragraph in a post */
{
  margin-top:1em;
}


a, a:hover, a:active /* links */
{
  color:#888;
  text-decoration:underline;
}

a:visited /* visited links */
{
  color:#444;
}

a.LinkList
{
  display:block;
}


img /* images */
{
  text-align:center; /* TODO: check if useful! */
}

#MainContentWrapper
{
  display:table-row;
}

#MainContent
{
  float:left;
  display:block;
  width:75%;
  padding-right:5%;
}

#Bar
{
  float:right;
  display:block;
  width:20%;
  margin-top:1em;
}

.BarTitle
{
  font-weight:bold;
}

.BarContent
{
  margin-bottom:1em;
}

#Footer
{
  font-size:50%;
  text-align:center;
}
