/*
 * this is the default style for shellblog blogs. feel free to change the style as you wish
 * */

* /* text color and background color for the whole site */
{
  font-family:Sans;
  color:black;
  background-color: #08C;
}

h1 /* blog title */
{
  font-size:200%;
  font-weight:bold;
  text-align:center;
  border-radius:0.5em;
  padding-left:0.5em;
  background-color:#0AF;
}

h1:hover, h2:hover
{
  background-color:#0BF;
}

h2 /* post title */
{
  font-size:150%;
  font-weight:bold;
  border-radius:0.5em;
  padding-left:0.5em;
  background-color:#0AF;
}

p /* paragraph in a post */
{
  margin-top:1em;
}


a, a:hover, a:active /* links */
{
  color:white;
  text-decoration:underline;
  display:block;
}

a:visited /* visited links */
{
  color:gray;
}


img /* images */
{
  text-align:center; /* TODO: check if useful! */
}

#MainContentWrapper
{
  display:table-row;
}

#MainContent
{
  float:left;
  display:block;
  width:75%;
  padding-right:5%;
}

#Bar
{
  float:right;
  display:block;
  width:20%;
  background-color:#0CF;
}

.BarTitle
{
  font-weight:bold;
}

#Footer
{
  font-size:50%;
  text-align:center;
}
